@charset 'utf-8';
$bg-col: #fff;
$label-col: #808080;
$col: #b2b2b2;
$font-fam: 'Roboto',
Arial,
Times,
serif;
$fz: 18px;
$border-col: #f5f5f5;
$line-h: 1.4em;
$header-width: 1440px;
$header-height: 150px;
$head-width: 1095px;
$head-height: 40px;
$link-col: #999;
$hover-col: #999;
$link-hover-col: #0078ff;
$footer-height: 300px;
$large-badge-col: #ff004f;
$bnt-group-hover: #fafafa;